.show-more {
  display: flex;
  margin: 50px auto 0;
  color: #8A5B8F;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-decoration-line: underline;
  text-transform: uppercase;
}
